
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        	<a class="brand" href="index.html">Cursuri</a>
        	<div class="nav-collapse collapse nav-bar-inverse-collapse">
        		<ul class="nav pull-right">

        		<li><%= link_to "Iesire", token_sign_out_path %></li>
        		</ul>
        	</div>
        </div>
      </div>
    </div>

    <div class="container-narrow">

    <div class="masthead">
        <div id="navbar-example" class="navbar navbar-static">
            <div class="navbar-inner">
              <a class="brand" href="">Evaluarea cursurilor</a>
              <div class="container" style="width: auto;">

              </div>
            </div>
          </div>
    </div>



    <div class="well" style="overflow-x:hidden">
	   <table class="table table-striped" style="margin-top:15px; float:left; position:absolute">

      <tr>
        <th>Curs</th>
        <th>Profesor</th>
        <th>Tip</th>
        <th>Evalueaza</th>
      </tr>
      <% i=0 %>

      <% @curs.each_slice(3) do |slice| %>

      <tr>
      <% slice.each do |value| %>
        <td><%=value%></td>
      <% end %>

        <td><button class="modalButton btn btn-primary span2 " id="<%= i+=1 %>">Evalueaza!</button></td>
			</tr>

    <% end %>
    </table>
    <div class="clearfix"></div>
    </div>
    </div>


	    <div class="modal hide fade" id="modal">

      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Evaluare curs</h3>
      </div>
        <div class="modal-body">

		  	<%contor1=1%>
		  	<%contor2=0 %>
				<%i=0%>

   	<h4> <%= contor1%> . <%= @intrebari_alegeri[0] %></h4>
    	<%@texte_intrebari.each do |texte|%>
        <%contor2=0 %>

				<% texte.elements.each do |enunt| %>
					<%contor2+=1 %>

					<%if contor1!=1%>
						<h5><%=contor1%>.<%=contor2%>. <%=enunt.text%></h5>
					<%end%>

					<% @categorii[i].elements.each do |catenunt| %>
					<label class="radio">
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						<%=catenunt.text%>
					</label>


					<%end%> <!-- do |catenunt| -->
				<%end%> <!-- do |enunt|-->

				<%contor1+=1%>
				<%i+=1%>
				<%if contor1<=@intrebari_alegeri.length%>
                                   <h4> <%=contor1%>. <%= @intrebari_alegeri[i] %>    </h4>
				<%end%>
	<%end%> <!-- do |texte| -->

       	<%@intrebari_libere.each do |num|%>
		      <h4><%=contor1%>. <%= num %></h4>
					<%contor1+=1%>
		      <input type="textarea" placeholder="Raspunde aici!" rows="5" style="width:440px;">
        <%end%> <!-- do |num| -->

        </div> <!-- modal-body -->
						<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal" aria-hidden="true">Trimite</button>
						</div>
    </div>





	<script src="../bootstrap/js/jquery.min.js" type="text/javascript"></script>
	<script src="../bootstrap/js/bootstrap.js" type="text/javascript"></script>
	<script src="../bootstrap/js/jasny-bootstrap.js" type="text/javascript"></script>
	<script src="../bootstrap/js/bwizard.js" type="text/javascript"></script>
   <script type="text/javascript">
      $(".modalButton").click(function(){
        var id = this.id;
        var modalNou = '#modal';
      $(modalNou).modal('show');
      });
  </script>
