<% content_for :head do %>

<% end %>

<% content_for :brand do %>
<%= "#{session[:user_signed][:last_name]} #{session[:user_signed][:first_name]}" %>
<% end %>

<% content_for :iesire do %>
<a href="<%= sign_out_path %>">
  <i class="icon-off icon-white"></i> Iesire
</a>
<% end %>

<div class="container-narrow">
  <%= render 'shared/selector_cursuri' %>
  <div class="well" >
    <% if show_progress %>
    <ul class="nav nav-tabs in_progres">
      <li class="active"><a value="false" >Evaluate</a></li>
      <li><a value="true">In asteptare</a></li>
    </ul>
    <% end %>
    <div id="lista_curs">
    <%= render 'shared/lista_cursuri_evaluate' %>
    </div>
  </div>
</div>

<div class="modal hide fade" id="modal">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Blalala</h3>
  </div>


  <div class="modal-body">

  </div> <!-- modal-body -->
</div>

<script type="text/javascript">


$(function(){
  //sa fie AJAX
  $(".modalButton").click(function(){
    var id = this.id;
    var action_link = "/get_stats/" + id + '.js';
    $.get(action_link, $(this).serialize(), null, "script");
  });

  var reload_table = function(data) {
    $("#lista_curs").empty();
    $("#lista_curs").append(data);
  };


  $(".dropdown-menu > li > a").click( function() { 
    v = $(this).attr('value');
    camp = $(this).parent().parent().attr('value');
    hashs = {};
    hashs[camp] = v;
    $.post('<%= @pathhh %>', hashs ,reload_table, 'html');
  });

  $(".in_progres > li > a").click( function() { 
    v = $(this).attr('value');
    $(this).parent().siblings().removeClass('active');
    $(this).parent().addClass('active');

    $.post('<%= @pathhh %>', {'in_progres' : v} ,reload_table, 'html');
  });
});
</script>