<!doctype html>
<html lang="en">
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        	<a class="brand" href="index.html">Evaluare cursuri</a>
        	<div class="nav-collapse collapse nav-bar-inverse-collapse">
        		<ul class="nav pull-right">

        		<li><%= link_to "Iesire", '/sign_out' %></li>
        		</ul>
        	</div>
        </div>
      </div>
    </div>

    <div class="container-narrow">

    <div class="masthead">
        <div id="navbar-example" class="navbar navbar-static">
            <div class="navbar-inner">
              <a class="brand" href="">Administrator</a>
              <div class="container" style="width: auto;">
                <ul class="nav" role="navigation">
                    <li class="dropdown">
                    <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Specializare<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                      <li role="presentation" ><a role="menuitem" tabindex="-1" href="#" style="text-align: left;">Matematica</a></li>
                      <li role="presentation" ><a role="menuitem" tabindex="-1" href="#" style="text-align: left;">Informatica</a></li>
                      <li role="presentation" ><a role="menuitem" tabindex="-1" href="#" style="text-align: left;">TI</a></li>
                    </ul>
                  </li>
                     <li class="dropdown">
                    <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">An<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                      <li role="presentation" ><a role="menuitem" tabindex="-1" href="#" style="text-align: left;">I</a></li>
                      <li role="presentation" ><a role="menuitem" tabindex="-1" href="#" style="text-align: left;">II</a></li>
                      <li role="presentation" ><a role="menuitem" tabindex="-1" href="#" style="text-align: left;">III</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Curs<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                      <li role="presentation" ><a role="menuitem" tabindex="-1" href="#" style="text-align: left;">OOP</a></li>
                      <li role="presentation" ><a role="menuitem" tabindex="-1" href="#" style="text-align: left;">Programare logica</a></li>
                      <li role="presentation" ><a role="menuitem" tabindex="-1" href="#" style="text-align: left;">Programare declarativa</a></li>
                    </ul>
                  </li>
                  <li><a href="parametri.html">Setare parametri</a></li>

                </ul>

              </div>
            </div>
          </div>
    </div>

    <div class="well" style="overflow-x:hidden" >
	   <table class="table table-striped" style="margin-top:15px; float:left; position: absolute">
      <tr>
        <th>An</th>
        <th>Curs</th>
        <th>profesor</th>
        <th>Arata statistici</th>
        <th>Descarca PDF</th>
      </tr>
      <% i=0%>

      <% @cursuri.each do |curs| %>

      <tr>

        <td><%= curs.an %></td>
        <td><%= curs.nume %></td>
        <td><%= "#{curs.profesor.nume} #{curs.profesor.prenume}" %></td>

         <td><input type="button" class="btn btn-success modalButton"
        id="<%= i+=1 %>" value="Detalii"/></td>
        <td><input type="button" class="btn btn-primary" value="Descarca"/></td>
			</tr>

      <% end %>


    </table>
        <div class="clearfix"></div>
    </div>

<!-- lightbox -->
		 <%(1..i).each do |k| %>
    <div class="modal hide fade" id="modal<%=k%>">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Detalii</h3>
      </div>
        <div class="modal-body">
        <h4>Alte informatii aici.</h4>
        <table class="table table-striped">
        <tr>
        <th>Curs</th>
        <th>Profesor</th>
        <th>Statistici</th>
      </tr>
        <tr>
       <td>Programare declarativa</td>
       <td>Cazanescu</td>
       <td><div class="progress progress-success">
                <div class="bar" style="width: 70%;"></div>
              </div></td>
      </tr>
        </table>
        </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Finalizare</button>

      </div>
    </div>
		<%end%>
     <script type="text/javascript">
     $("#wizard").bwizard();

   $(".modalButton").click(function(){
    var id = this.id;
    var modalNou = '#modal' + id;
    $(modalNou).modal('show');
   });
  </script>




	</div>
	<div class="bottom-logo">
		<img src="assets/logo.png" width="150px" height="150px"/>
		</div>




</body>
</html>
