

  <div class="container-narrow">
    <div class="masthead">
        <div id="navbar-example" class="navbar navbar-static">
            <div class="navbar-inner">
              <a class="brand" href="">Administrator</a>
              <div class="container" style="width: auto;">
                <ul class="nav" role="navigation">
                    <li class="dropdown">
                    <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Specializare<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
										<% @specializare.each do |s| %>
                      <li role="presentation" ><a role="menuitem" tabindex="-1" href="/admin/<%= s %>/<%= params[:anul]%>" style="text-align: left;"><%= s %></a></li>
                     <% end %>
                    </ul>
                  </li>
                     <li class="dropdown">
                    <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">An<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
										<% @an.each do |a| %>
                      <li role="presentation" ><a role="menuitem" tabindex="-1" href="/admin/<%= params[:spec] %>/<%= a %>" style="text-align: left;"><%= a %></a></li>
                     <% end %>
                    </ul>
                  </li>
<!--
                  <li class="dropdown">
                    <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Curs<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
										<% @cursuri.each do |c| %>
                      <li role="presentation" ><a role="menuitem" tabindex="-1" href="/admin/<%= params[:spec] %>/<%= params[:anul] %>/<%= c.id %>" style="text-align: left;"><%= c.nume %></a></li>
                      <% end %>
                    </ul>
                  </li>-->
<li><a href="/admin/all/all">Resetare parametri</a></li>
                </ul>

              </div>
            </div>
          </div>
    </div>

    <div class="well" style="overflow-x:hidden" >

 <table class="table table-striped" style="margin-top:15px; float:left; position: absolute">
      <tr>
        <th>An</th>
        <th>Curs</th>
        <th>profesor</th>
        <th>Arata statistici</th>
        <th>Descarca PDF</th>
      </tr>
      <% i=0%>

      <% @cursuri.each do |curs| %>

      <tr>

        <td><%= curs.an %></td>
        <td><%= curs.nume %></td>
        <td><%= "#{curs.profesor.nume} #{curs.profesor.prenume}" %></td>

         <td><input type="button" class="btn btn-success modalButton"
        id="<%= i+=1 %>" value="Detalii"/></td>
        <td><input type="button" class="btn btn-primary" value="Descarca"/></td>
			</tr>

      <% end %>


    </table>
        <div class="clearfix"></div>
    </div>

<!-- lightbox -->
			<% k=0 %>
		 <%@cursuri.each do |curs| %>
			<% k+=1%>
    <div class="modal hide fade" id="modal<%=k%>">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Detalii</h3>
      </div>
        <div class="modal-body">
        <h4>Alte informatii aici.</h4>
        <table class="table table-striped">
        <tr>
        <th>Curs</th>
        <th>Profesor</th>
        <th>Statistici</th>
      </tr>
        <tr>
       <td><%= curs.nume %></td>
       <td><%= "#{curs.profesor.nume}" %></td>
       <td><div class="progress progress-success">
                <div class="bar" style="width: 70%;"></div>
              </div></td>
      </tr>
        </table>
        </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Finalizare</button>

      </div>
    </div>
		<%end%>
     <script type="text/javascript">
     $("#wizard").bwizard();

   $(".modalButton").click(function(){
    var id = this.id;
    var modalNou = '#modal' + id;
    $(modalNou).modal('show');
   });
  </script>

</div>
