<% content_for :head do %>
  
<% end %>

<% content_for :brand do %>
  <%= "#{session[:user_signed][:last_name]} #{session[:user_signed][:first_name]}" %>
<% end %>

<% content_for :iesire do %>
  <a href="<%= sign_out_path %>">
    <i class="icon-off icon-white"></i> Iesire
  </a>
<% end %>

<div class="container-narrow">
  <%= render 'shared/selector_cursuri' %>
  <%= render 'shared/lista_cursuri_evaluate' %>
</div>

<div class="modal hide fade" id="modal">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Blalala</h3>
    </div>


    <div class="modal-body">

    </div> <!-- modal-body -->
</div>

<script type="text/javascript">
$(function(){
  //sa fie AJAX
  $(".modalButton").click(function(){
    var id = this.id;
    var action_link = "/get_stats/" + id + '.js';
    $.get(action_link, $(this).serialize(), null, "script");
  });

  $(".dropdown-menu > li > a").click( function() { 
            v = $(this).attr('value');
            camp = $(this).parent().parent().attr('value');
            $.post('<%= homepage_admin_path %>', { camp: v });
        });
});
</script>
