<p id="notice"><%= notice %></p>

<p>
  <b>Data inceput:</b>
  <%= @activare_buton.data_inceput %>
</p>

<p>
  <b>Data sf:</b>
  <%= @activare_buton.data_sf %>
</p>


<%= link_to 'Edit', edit_activare_buton_path(@activare_buton) %> |
<%= link_to 'Back', activare_butons_path %>
