<h1>Listing grupas</h1>

<table>
  <tr>
    <th>Grupa</th>
    <th>Studenti</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grupas.each do |grupa| %>
  <tr>
    <td><%= grupa.grupa %></td>
    <td><%= grupa.studenti %></td>
    <td><%= link_to 'Show', grupa %></td>
    <td><%= link_to 'Edit', edit_grupa_path(grupa) %></td>
    <td><%= link_to 'Destroy', grupa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grupa', new_grupa_path %>
