<%= form_for(@token_user) do |f| %>
  <% if @token_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@token_user.errors.count, "error") %> prohibited this token_user from being saved:</h2>

      <ul>
      <% @token_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grupa %><br />
    <%= f.text_field :grupa %>
  </div>
  <div class="field">
    <%= f.label :token %><br />
    <%= f.text_field :token %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
