<!DOCTYPE html>
<!--
      3.141592653589793238462643383279  
    5028841971693993751058209749445923  
   07816406286208998628034825342117067  
   9821    48086         5132           
  823      06647        09384           
 46        09550        58223           
 17        25359        4081            
           2848         1117            
           4502         8410            
           2701         9385            
          21105        55964            
          46229        48954            
          9303         81964            
          4288         10975            
         66593         34461            
        284756         48233            
        78678          31652        71  
       2019091         456485       66  
      9234603           48610454326648  
     2133936            0726024914127   
     3724587             00660631558    
     817488               152092096     -->
<html>
<head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <%= csrf_meta_tag %>  
  <%= yield :head %>
  



  <link href="/assets/bootstrap.css" rel="stylesheet" />
  <style>
  body{padding-top: 60px;}
  </style>
  <link href="/assets/bootstrap-responsive.css" rel="stylesheet" />
  <link href="/assets/bootstrap.css" rel="stylesheet" />
  <style>body{padding-top: 60px;}
  </style>
  <link href="/assets/bootstrap-responsive.css" rel="stylesheet" />

  <link href="/assets/jasny-bootstrap.css" rel="stylesheet" />

  <script src="/assets/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/bootstrap.js" type="text/javascript"></script>
  <script src="/assets/jasny-bootstrap.js" type="text/javascript"></script>

  
  <style type="text/css">
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

  .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 100px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }

  </style>

</head>

<body>



  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
       <div class="brand"><%= yield :brand %></div>
       <div class="nav-collapse collapse nav-bar-inverse-collapse">
        <ul class="nav pull-right">

          <li><%= yield :iesire %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class ="container">
  <div class="content-narrow" id="error-div">
    <%= render template: "layouts/_error_and_alert_div" %>
  </div>
</div>

<%= yield %>

<script type="text/javascript">
  $.ajaxSetup({
      beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      }
  }); 

  $(document).ajaxSend(function(e, xhr, options) {
      var token = $("meta[name='csrf-token']").attr("content");
      xhr.setRequestHeader("X-CSRF-Token", token);
});
</script>

<div class="bottom-logo">
  <img src="/assets/logo.png" width="150px" height="150px"/>
</div>
</body>
</html>
